*{
    margin: 0%;
    padding: 0%;
}

header{
    width: 100%;
    background-color: pink;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}


header a{
    display: inline-block;
    width: 12%;
    padding: 1%;
    border: 1px solid black;
    border-radius: 10%;
    background-color: rgb(255, 200, 252);
    color: white;
    text-decoration: none;
    text-align: center;
}

main{
    clear: both;
}
footer img{
    margin: 10%;
    width: 10%;
    height: 10%;
}